<footer class="footer">
    <div class="container" id="nav-footer">
        <div class="row text-left">
            <div class="col-md-3 col-sm-3">
                <h4>Browse</h4>
                <ul>
                    <li><a href="courses_grid.html">Courses</a></li>
                    <li><a href="courses_grid.html">Teachers</a></li>
                    <li><a href="contacts.html">Classmates</a></li>
                </ul>
            </div><!-- End col-md-4 -->
            <div class="col-md-3 col-sm-3">
                <h4>Next Courses</h4>
                <ul>
                    <li><a href="course_details_1.html">Biology</a></li>
                    <li><a href="course_details_2.html">Management</a></li>
                    <li><a href="course_details_2.html">History</a></li>
                    <li><a href="course_details_3.html">Litterature</a></li>
                </ul>
            </div><!-- End col-md-4 -->
            <div class="col-md-3 col-sm-3">
                <h4>About Learn</h4>
                <ul>
                    <li><a href="about_us.html">About Us</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="contacts.html">Help</a></li>
                </ul>
            </div><!-- End col-md-4 -->
            <div class="col-md-3 col-sm-3">
                <ul id="follow_us">
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class=" icon-google"></i></a></li>
                </ul>
                <ul>
                    <li><br><small>Mon - Fri / 9.00AM - 06.00PM</small></li>
                    <li>Questions? <a href="#">questions@domain.com</a></li>
                </ul>
            </div><!-- End col-md-4 -->
        </div><!-- End row -->
    </div>
    <div id="copy_right">©2020</div>
</footer>

<div id="toTop">Back to top</div>
<!-- JQUERY -->

<script>new UISearch( document.getElementById( 'sb-search' ) );</script>
