<app-nav-student></app-nav-student>

<section id="main_content">

    <div class="container">

        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Active page</li>
        </ol>
        <div class="row">
            <div class="col-md-12">

                <!--  Tabs -->
                <ul class="nav nav-tabs" id="mytabs">
                    <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
                    <li><a href="#courses" data-toggle="tab">Courses</a></li>
                    <li><a href="#agenda" data-toggle="tab">Timetable</a></li>
                    <li><a href="#chat" data-toggle="tab">Chat</a></li>
                    <li><a href="#attendance" data-toggle="tab">Attendance</a></li>
                    <li><a href="#evaluations" data-toggle="tab">Evaluations</a></li>
                    <li><a href="#requests" data-toggle="tab">Request</a></li>

                    <!-- <li><a href="#plans" data-toggle="tab">Plans/billing</a></li> -->
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in" id="attendance">
                        <div class="container">
                            <div class="row">
                                <p> Lorem ipsum dolor sit amet, no sit sonet corpora indoctum, quo
                                    ad fierent insolens. Duo aeterno ancillae ei. </p>
                                <p> Lorem ipsum dolor sit amet, no sit sonet corpora indoctum, quo
                                    ad fierent insolens. Duo aeterno ancillae ei. </p>
                                <p> Lorem ipsum dolor sit amet, no sit sonet corpora indoctum, quo
                                    ad fierent insolens. Duo aeterno ancillae ei. </p>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h3>Faq</h3>
                                    <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. </p>
                                </div>
                                <div class="col-md-8">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Anim pariatur cliche reprehenderit?<i class="indicator icon-plus pull-right"></i></a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Parsnip lotus root celery?<i class="indicator icon-plus pull-right"></i></a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Beet greens peanut salad?<i class="indicator icon-plus pull-right"></i></a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- End col-md-8 -->
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="evaluations">
                        <div class="container">
                            <div class="row">
                                <p> Lorem ipsum dolor sit amet, no sit sonet corpora indoctum, quo
                                    ad fierent insolens. Duo aeterno ancillae ei. </p>
                                <p> Lorem ipsum dolor sit amet, no sit sonet corpora indoctum, quo
                                    ad fierent insolens. Duo aeterno ancillae ei. </p>
                                <p> Lorem ipsum dolor sit amet, no sit sonet corpora indoctum, quo
                                    ad fierent insolens. Duo aeterno ancillae ei. </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="chat">
                        <div class="container">
                            <div class="row">
                                <p> Lorem ipsum dolor sit amet, no sit sonet corpora indoctum, quo
                                    ad fierent insolens. Duo aeterno ancillae ei. </p>
                                <p> Lorem ipsum dolor sit amet, no sit sonet corpora indoctum, quo
                                    ad fierent insolens. Duo aeterno ancillae ei. </p>
                                <p> Lorem ipsum dolor sit amet, no sit sonet corpora indoctum, quo
                                    ad fierent insolens. Duo aeterno ancillae ei. </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="requests">
                        <div class="container">
                            <div class="row">

                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="col-item">
                                        <!--<span class="ribbon_course"></span>-->
                                        <div class="photo">
                                            <a href="#"></a>
                                            <div class="cat_row"><a href="#">Mathematics</a><span class="pull-right"><i
                                                    class=" icon-clock"></i>2 Days</span></div>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="course_info col-md-12 col-sm-12">
                                                    <h4>Algebra course</h4>
                                                    <p> Lorem ipsum dolor sit amet, no sit sonet corpora indoctum, quo
                                                        ad fierent insolens. Duo aeterno ancillae ei. </p>
                                                    <div class="rating">
                                                        <i class="icon-star"></i><i class="icon-star"></i><i
                                                            class="icon-star"></i><i class="icon-star"></i><i
                                                            class=" icon-star-empty"></i>
                                                    </div>
                                                    <div class="price pull-right">12</div>
                                                </div>
                                            </div>
                                            <div class="separator clearfix">
                                                <p class="btn-add"><a><i class="icon-export-4"></i>
                                                    Waiting</a></p>
                                                <p class="btn-details"><a href="course_details_1.html"><i
                                                        class=" icon-list"></i> Details</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="col-item">
                                        <div class="photo">
                                            <a href="#"></a>
                                            <div class="cat_row"><a href="#">MANAGEMENT</a><span class="pull-right"><i
                                                    class=" icon-clock"></i>3 Days</span></div>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="course_info col-md-12 col-sm-12">
                                                    <h4>Algebra course</h4>
                                                    <p> Lorem ipsum dolor sit amet, no sit sonet corpora indoctum, quo
                                                        ad fierent insolens. Duo aeterno ancillae ei. </p>
                                                    <div class="rating">
                                                        <i class="icon-star"></i><i class="icon-star"></i><i
                                                            class="icon-star"></i><i class=" icon-star-empty"></i><i
                                                            class=" icon-star-empty"></i>
                                                    </div>
                                                    <div class="price pull-right">13</div>
                                                </div>
                                            </div>
                                            <div class="separator clearfix">
                                                <p class="btn-add"><a><i class="icon-export-4"></i>
                                                    Waiting</a></p>
                                                <p class="btn-details"><a ><i
                                                        class=" icon-list"></i> Details</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="col-item">
                                        <div class="photo">
                                            <div class="cat_row"><a href="#">Mathematics</a><span class="pull-right"><i
                                                    class=" icon-clock"></i>6 Days</span></div>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="course_info col-md-12 col-sm-12">
                                                    <h4>Trigonometry course</h4>
                                                    <p> Lorem ipsum dolor sit amet, no sit sonet corpora indoctum, quo
                                                        ad fierent insolens. Duo aeterno ancillae ei. </p>
                                                    <div class="rating">
                                                        <i class="icon-star"></i><i class="icon-star"></i><i
                                                            class="icon-star"></i><i class="icon-star"></i><i
                                                            class="icon-star"></i>
                                                    </div>
                                                    <div class="price pull-right">10</div>
                                                </div>
                                            </div>
                                            <div class="separator clearfix">
                                                <p class="btn-add"><a><i class="icon-export-4"></i>
                                                    Reviewed </a></p>
                                                <p class="btn-details"><a><i
                                                        class=" icon-list"></i> Details</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div><!-- End row -->
                        </div>


                    </div>
                    <div class="tab-pane fade in active" id="profile">
                        <div class="row">
                            <aside class="col-md-4">
                                <div class=" box_style_1 profile">
                                    <p class="text-center"><img src="assets/img/zstudent.png" maxlength="100px" alt="Teacher" class="assets/img-circle styled"></p>
                                    <ul>
                                        <li>Name <strong class="pull-right">Marc Twain</strong> </li>
                                        <li>Email<strong class="pull-right">info@school-domain.com</strong></li>
                                        <li>Telephone <strong class="pull-right">+34 000 000000</strong></li>
                                        <li>Country<strong class="pull-right">Italy</strong></li>
                                        <li>Gender <strong class="pull-right">Female</strong></li>
                                        <li>Education <strong class="pull-right">Primary School</strong></li>
                                        <li>Age  <strong class="pull-right">14</strong></li>
                                        <li>Class  <strong class="pull-right">9</strong></li>
                                    </ul>
                                </div><!-- End box-sidebar -->
                            </aside><!-- End aside -->
                            <div class="col-md-8">
                                <h3>Student Summary</h3>
                                <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </p>
                                <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </p>
                                <p>The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book: </p>
                                <ul>
                                <li>Lorem ipsum</li>
                                <li>Lorem ipsum</li>
                                <li>Lorem ipsum</li>
                                <li>Lorem ipsum</li>
                                </ul>
                            </div><!-- End col-md-8 -->
                        </div><!-- End row -->
                    </div><!-- End tab-pane -->

                    <div class="tab-pane fade" id="courses">
                        <h3>Courses</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. </p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Course name</th>
                                    <th>Date Purchased</th>
                                    <th>Progress</th>
                                    <th>Materials</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Mathematics</td>
                                    <td><a href="#">Mathematics</a></td>
                                    <td>20/04/2020</td>
                                    <td><img src="assets/img/bullet_complete_2.png" alt=""> Completed</td>
                                    <td><a href="#"><i class="icon-video"></i> </a><a href="#"><i class="icon-doc"></i> </a></td>
                                    <td><a routerLink="/student/course-details" class="text-center"> View course</a> </td>
                                    
                                </tr>
                                <tr>
                                    <td>Mathematics</td>
                                    <td><a href="#">12 Principles of Algorithms</a></td>
                                    <td>20/04/2020</td>
                                    <td><img src="assets/img/bullet_progress_2.png" alt=""> In progress</td>
                                    <td><a href="#"><i class="icon-mic"></i> </a><a href="#"><i class="icon-doc"></i> </a></td>
                                    <td><a routerLink="/student/course-details"> View course</a> </td>


                                </tr>
                                <tr>
                                    <td>Literature</td>
                                    <td><a href="#">Poetry course</a></td>
                                    <td>20/04/2020</td>
                                    <td><img src="assets/img/bullet_start_2.png" alt=""> Not started</td>
                                    <td><a href="#"><i class="icon-doc"></i> </a></td>
                                    <td><a routerLink="/student/course-details"> View course</a> </td>


                                </tr>
                                <tr>
                                    <td>Biology</td>
                                    <td><a href="#">Fundamentals</a></td>
                                    <td>20/04/2020</td>
                                    <td><img src="assets/img/bullet_start_2.png" alt=""> Not started</td>
                                    <td><a href="#"><i class="icon-doc"></i> </a></td>
                                    <td><a routerLink="/student/course-details"> View course</a> </td>


                                </tr>
                                <tr>
                                    <td>Marketing</td>
                                    <td><a href="#">12 Principles</a></td>
                                    <td>20/04/2020</td>
                                    <td><img src="assets/img/bullet_progress_2.png" alt=""> In progress</td>
                                    <td><a href="#"><i class="icon-video"></i> </a></td>
                                     <td><a routerLink="/student/course-details"> View course</a> </td>


                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!-- End tab-pane -->

                    <div class="tab-pane fade" id="agenda">

                        <div class="row">
                            <aside class="col-md-4">
                                <div class="box_style_1"  id="external-events">
                                    <h4>Month Highlights</h4>
                                    <div class='external-event'>Mathematics Exam</div>
                                    <div class='external-event'>History Project Submission Deadline</div>
                                    <div class='external-event'>Geography  Project Submission Deadline</div>
                                </div>
                            </aside>

                            <div class="col-md-8">
                                <div id="calendar">
                                    <img width="100%" src="assets/img/calendarstudent.png">
                                </div><
                            </div>

                        </div><!-- End row -->

                    </div><!-- End tab-pane -->


                </div><!-- End col-md-8-->
            </div>
        </div><!-- End row-->
    </div><!-- End container -->
</section><!-- End main_content-->
<app-footer></app-footer>
