<app-nav-teacher></app-nav-teacher>
<section id="main_content">
    <div class="container">

        <ol class="breadcrumb">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/teacher">Teacher</a></li>
            <li routerLink="/teacher/course-details">Course Details</li>
        </ol>

        <div class="row">
            <div class="col-md-8">

                <h3 class="chapter_course no_margin_rop">Chapter 1: Welcome.</h3>
                <div class="strip_single_course">
                    <h4><a href="course_detail_page_txt.html">Lorem ipsum. </a></h4>
                    <ul>
                        <li><i class="icon-clock"></i> 00:58</li>
                        <li><i class="icon-doc"></i>Text reading</li>
                    </ul>
                </div><!-- end strip single course -->

                <div class="strip_single_course">
                    <h4><a href="course_detail_page_video.html">Lorem ipsum, or lipsum as it is sometimes known.</a></h4>
                    <ul>
                        <li><i class="icon-clock"></i> 00:58</li>
                        <li><i class="icon-video"></i> Video lesson</li>
                    </ul>
                </div><!-- end strip single course -->

                <div class="strip_single_course">
                    <h4><a href="#">Lorem ipsum</a></h4>
                    <ul>
                        <li><i class="icon-clock"></i> 00:58</li>
                        <li><i class="icon-mic"></i> Audio lesson</li>
                    </ul>
                </div><!-- end strip single course -->

                <h3 class="chapter_course">Chapter 2: Lorem ipsum</h3>
                <div class="strip_single_course">
                    <h4><a href="#">Lorem ipsum</a></h4>
                    <ul>
                        <li><i class="icon-clock"></i> 02:58</li>
                        <li><i class="icon-doc"></i>Text reading</li>
                    </ul>
                </div><!-- end strip single course -->

                <div class="strip_single_course">
                    <h4><a href="#">Lorem ipsum, or lipsum</a></h4>
                    <ul>
                        <li><i class="icon-clock"></i> 00:58</li>
                        <li><i class="icon-doc"></i>Text reading</li>
                    </ul>
                </div><!-- end strip single course -->

                <div class="strip_single_course">
                    <h4><a href="#">Lorem ipsum, or lipsum as it is sometimes known.</a></h4>
                    <ul>
                        <li><i class="icon-clock"></i> 10:58</li>
                        <li><i class="icon-doc"></i>Text reading</li>
                    </ul>
                </div><!-- end strip single course -->

                <div class="strip_single_course">
                    <h4><a href="#">Lorem ipsum</a></h4>
                    <ul>
                        <li><i class="icon-clock"></i> 00:58</li>
                        <li><i class="icon-doc"></i>Text reading</li>
                    </ul>
                </div><!-- end strip single course -->

                <h3 class="chapter_course">Chapter 3: Lorem ipsum.</h3>
                <div class="strip_single_course">
                    <h4><a href="#">Lorem ipsum, or lipsum as it is sometimes known.</a></h4>
                    <ul>
                        <li><i class="icon-clock"></i> 20:00</li>
                        <li><i class="icon-video"></i> Video</li>
                    </ul>
                </div><!-- end strip single course -->

                <div class="strip_single_course">
                    <h4><a href="#">Eu sit causae elaboraret efficiendi.</a></h4>
                    <ul>
                        <li><i class="icon-clock"></i> 15:00</li>
                        <li><i class="icon-video"></i> Video</li>
                    </ul>
                </div><!-- end strip single course -->

                <div class="strip_single_course">
                    <h4><a href="#">Lorem ipsum.</a></h4>
                    <ul>
                        <li><i class="icon-clock"></i> 12:58</li>
                        <li><i class="icon-video"></i> Video</li>
                    </ul>
                </div><!-- end strip single course -->

            </div><!-- End col-md-8  -->
            <aside class="col-md-4">
                <a href="#" class=" button_fullwidth-3">Start live session</a>
                <div class="box_style_1">
                    <h4>New materials</h4>
                    <ul class="list_1">
                        <h5><a >Upload video <i class="icon-video"></i> </a></h5>
                        <h5><a >Upload documents<i class="icon-doc"></i></a></h5>
                    </ul>
                </div>
            </aside> <!-- End col-md-4 -->

            <aside class="col-md-4">

                <div class="box_style_1">
                    <h4>Related content</h4>
                    <ul class="list_1">
                        <li><a >Lorem ipsum</a></li>
                        <li><a >Lorem ipsum</a></li>
                        <li><a>Lorem ipsum</a></li>
                        <li><a >Lorem ipsum</a></li>
                    </ul>
                </div>
            </aside> <!-- End col-md-4 -->



        </div><!-- End row -->

        <hr>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="pagination">
                    <li><a routerLink="/teacher/course-details">&laquo;</a></li>
                    <li><a routerLink="/teacher/course-details">1</a></li>
                    <li><a routerLink="/teacher/course-details">2</a></li>
                    <li><a routerLink="/teacher/course-details">3</a></li>
                    <li><a routerLink="/teacher/course-details">4</a></li>
                    <li><a routerLink="/teacher/course-details">5</a></li>
                    <li><a routerLink="/teacher/course-details">&raquo;</a></li>
                </ul>
            </div>
        </div>

    </div><!-- End container -->
</section>
<app-footer></app-footer>
