<app-nav-teacher></app-nav-teacher>
<section id="main_content">
    <div class="container">

        <ol class="breadcrumb">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/teacher">Teacher</a></li>
            <li routerLink="/teacher/course-details">Course Details</li>
        </ol>

        <div class="row">
            <div class="col-md-8">

                <h3 class="chapter_course no_margin_rop">Chapter 1: Welcome.</h3>
                <div class="strip_single_course">
                    <h4><a href="course_detail_page_txt.html">Lorem ipsum dolor sit amet, case saepe impetus sed ut.</a></h4>
                    <ul>
                        <li><i class="icon-clock"></i> 00:58</li>
                        <li><i class="icon-doc"></i>Text reading</li>
                    </ul>
                </div><!-- end strip single course -->

                <div class="strip_single_course">
                    <h4><a href="course_detail_page_video.html">Oportere efficiantur usu ad.</a></h4>
                    <ul>
                        <li><i class="icon-clock"></i> 00:58</li>
                        <li><i class="icon-video"></i> Video lesson</li>
                    </ul>
                </div><!-- end strip single course -->

                <div class="strip_single_course">
                    <h4><a href="#">Oportere efficiantur usu ad.</a></h4>
                    <ul>
                        <li><i class="icon-clock"></i> 00:58</li>
                        <li><i class="icon-mic"></i> Audio lesson</li>
                    </ul>
                </div><!-- end strip single course -->

                <h3 class="chapter_course">Chapter 2: Case aeque melius duo ut, porro ridens habemus quo in.</h3>
                <div class="strip_single_course">
                    <h4><a href="#">Et has suscipit probatus.</a></h4>
                    <ul>
                        <li><i class="icon-clock"></i> 00:58</li>
                        <li><i class="icon-doc"></i>Text reading</li>
                    </ul>
                </div><!-- end strip single course -->

                <div class="strip_single_course">
                    <h4><a href="#">Quo ea feugiat saperet vulputate</a></h4>
                    <ul>
                        <li><i class="icon-clock"></i> 00:58</li>
                        <li><i class="icon-doc"></i>Text reading</li>
                    </ul>
                </div><!-- end strip single course -->

                <div class="strip_single_course">
                    <h4><a href="#">Legere sanctus perfecto at eos</a></h4>
                    <ul>
                        <li><i class="icon-clock"></i> 00:58</li>
                        <li><i class="icon-doc"></i>Text reading</li>
                    </ul>
                </div><!-- end strip single course -->

                <div class="strip_single_course">
                    <h4><a href="#">Mei habemus voluptua ex, utroque instructior.</a></h4>
                    <ul>
                        <li><i class="icon-clock"></i> 00:58</li>
                        <li><i class="icon-doc"></i>Text reading</li>
                    </ul>
                </div><!-- end strip single course -->

                <h3 class="chapter_course">Chapter 3: Case aeque melius duo ut, porro ridens habemus quo in.</h3>
                <div class="strip_single_course">
                    <h4><a href="#">Ysu suavitate adversarium philosophia.</a></h4>
                    <ul>
                        <li><i class="icon-clock"></i> 00:58</li>
                        <li><i class="icon-video"></i> Video</li>
                    </ul>
                </div><!-- end strip single course -->

                <div class="strip_single_course">
                    <h4><a href="#">Eu sit causae elaboraret efficiendi.</a></h4>
                    <ul>
                        <li><i class="icon-clock"></i> 00:58</li>
                        <li><i class="icon-video"></i> Video</li>
                    </ul>
                </div><!-- end strip single course -->

                <div class="strip_single_course">
                    <h4><a href="#">Moderatius efficiantur eu mei.</a></h4>
                    <ul>
                        <li><i class="icon-clock"></i> 00:58</li>
                        <li><i class="icon-video"></i> Video</li>
                    </ul>
                </div><!-- end strip single course -->

                <div class="strip_single_course add_bottom_30">
                    <h4><a href="#">Diam assentior sententiae eu duo.</a></h4>
                    <ul>
                        <li><i class="icon-clock"></i> 00:58</li>
                        <li><i class="icon-video"></i> Video</li>
                    </ul>
                </div><!-- end strip single course -->

            </div><!-- End col-md-8  -->

            <aside class="col-md-4">
                <a href="#" class=" button_fullwidth-3">Start learning</a>
                <div class="box_style_1">
                    <h4>Lessons <span class="pull-right">17</span></h4>
                    <h4>Hours <span class="pull-right">12</span></h4>
                    <h4>Rates <span class="pull-right rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i></span></h4>
                    <h4>Single purchase<span class="pull-right">120$</span></h4><br>
                    <h4>Speakers</h4>
                    <div class="media">
                        <div class="pull-right">
                            <img src="assets/img/avatar1.jpg" class="img-circle" alt="">
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading"><a href="#">Marc Twain</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in.
                            </p>
                        </div>
                    </div>

                    <div class="media">
                        <div class="pull-right">
                            <img src="assets/img/avatar1.jpg" class="img-circle" alt="">
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading"><a href="#">Marc Twain</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="box_style_1">
                    <h4>Related content</h4>
                    <ul class="list_1">
                        <li><a href="#">Ceteros mediocritatem</a></li>
                        <li><a href="#">Labore nostrum</a></li>
                        <li><a href="#">Primis bonorum</a></li>
                        <li><a href="#">Ceteros mediocritatem</a></li>
                    </ul>
                </div>
            </aside> <!-- End col-md-4 -->

        </div><!-- End row -->

        <hr>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>

    </div><!-- End container -->
</section>

<section id="join">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="row">
                    <div class="col-md-2 hidden-sm hidden-xs"><img src="assets/img/arrow_hand_1.png" alt="Arrow" > </div>
                    <div class="col-md-8"><a href="#" class="button_big">Start learning</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
