<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a href="index.html" id="logo">Learn</a>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                <ul class="pull-right user_panel">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <strong>Student Name</strong> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class=" icon-user"></i> Member area</a></li>\
                            <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-off"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <ul id="top_nav" class="hidden-xs">
                    <li><a href="about_us.html">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</header><!-- End header -->
<!--<header>-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-3 col-sm-3 col-xs-3">-->
<!--<a href="index.html" id="logo">Learn</a>-->
<!--</div>-->
<!--<div class="col-md-9 col-sm-9 col-xs-9">-->
<!--<div class=" pull-right"><a href="login.html" class="button_top" id="login_top">Sign in</a> <a href="apply_2.html" class="button_top hidden-xs" id="apply">Apply now</a></div>-->
<!--<ul id="top_nav" class="hidden-xs">-->
<!--<li><a href="about_us.html">About</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</header>&lt;!&ndash; End header &ndash;&gt;-->


<nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="mobnav-btn"></div>
                <ul class="sf-menu">
                    <li class="normal_drop_down">
                        <a href="#">Home</a>
                    </li>
                    <li class="normal_drop_down">
                        <a href="#">Courses</a>
                        <div class="mobnav-subarrow"></div>
                        <ul>
                            <li><a href="courses_grid.html">Courses 1</a></li>
                            <li><a href="courses_list.html">Courses 2</a></li>
                            <li><a href="courses_list.html">Courses 3</a></li>
                            <li><a href="courses_list.html">Courses 4</a></li>
                            <li><a href="courses_list.html">Courses 5</a></li>
                        </ul>
                    </li>
                    <li><a href="blog.html">Exams</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                </ul>

                <div class="col-md-3 pull-right hidden-sm hidden-xs">
                    <div id="sb-search" class="sb-search">
                        <form>
                            <input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
                            <input class="sb-search-submit" type="submit" value="">
                            <span class="sb-icon-search"></span>
                        </form>
                    </div>
                </div><!-- End search -->

            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</nav>


